

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  background-color: #232c5b;
  color: white;
  padding: 20px 50px;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrap {
  width: 100%;
  position: relative;
  display: flex;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus {
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItem {
  margin-right: 50px;
  cursor: pointer;
  color: lightgray;
  font-weight: 400;
}

.categories {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.category {
  text-align: center;
}

.categoryTitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.categoryImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.footerLeft {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.footerMenu {
  margin-right: 50px;
}

.fMenuTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.fList {
  list-style: none;
  padding: 0;
}

.fListItem {
  margin-bottom: 5px;
  color: gray;
  cursor: pointer;
}
